body {
  color: #00277e;
}

nav {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
}

li {
  padding: 0 15px;
  font-weight: bold;
}

img {
  display: block;
  margin-left: auto;
  width: 700px;
  position: relative;
  top: 150px;
}

p {
  color: black;
  font-size: 60px;
}

.blue {
  width: 1050px;
  height: 200px;
  background-color: #00277e;
}
